<div class="home">
  <a class="btn btn-lg btn-block btn-danger bg-crimson" routerLink="/about-us">
  <h3>    <span>About Us</span>   </h3>
  </a>
  <a class="btn btn-lg btn-block btn-primary bg-blue" routerLink="/category/2">
  <h3>    <span>Faculty of Engineering &amp; Technology</span>    </h3>
  </a>
  <a class="btn btn-lg btn-block btn-primary bg-night" routerLink="/category/3">
  <h3>    <span>Faculty of Business &amp; Management</span>   </h3>
  </a>
  <a class="btn btn-lg btn-block btn-success bg-cyan" routerLink="/contact">
  <h3>    <span>Contact Us</span>   </h3>
  </a>
</div>
